$main-bg: #dfe6e9;

$main-bg-app: #fff;
$bg-chatbox: #dff9fb;
$bg-input: rgba(210, 218, 226,0.7);
$bg-chat: #dfe4ea;
$second-bg: rgba(38, 222, 129,0.4);

$main-color: #333;
$second-color: #009432;
$txt-color: #747d8c;

$header-title-height: 70px;
$sidebar-width: 70px;

$box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;
$box-shadow1:  0 2px 2px -2px rgba(0, 0, 0, 0.4);
$box-shadow2: 0 2px 2px -2px rgba(255, 255, 255, 0.4);

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

